<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <!-- <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Username or password is incorrect
        </div> -->
        <mat-card>
          <h3 class="text-center">Reset Your Password</h3>
          <p style="margin: 1px;">Enter your new password and confirm password to proceed</p>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="New Password" formControlName="password">
              <mat-error *ngIf="data.password.errors?.required">password is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Confirm Password" formControlName="confirmPassword">
              <mat-error *ngIf="data.confirmPassword.errors?.required">Confirm Password is required</mat-error>
            </mat-form-field>
            <div class="form-group mt-4">
              <button mat-raised-button color="primary">Reset</button>
              <!-- <a [routerLink]="['/register']" class="ml-2" mat-button color="primary">Register</a> -->
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
