<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <!-- <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Username or password is incorrect
        </div> -->
        <mat-card>
          <h3 class="text-center">Reset Your Account</h3>
          <p style="margin: 1px;">Please Provide your Registered email, we will send you the reset link</p>
          <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Your Registered email" formControlName="email">
              <mat-error *ngIf="data.email.errors?.required">Email is required</mat-error>
            </mat-form-field>
            <div class="form-group mt-4">
              <button mat-raised-button color="primary">Send Reset Link</button>
              <!-- <a [routerLink]="['/register']" class="ml-2" mat-button color="primary">Register</a> -->
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
