.container {
  display: grid;
  grid-template-columns: 2fr 4fr; /* Adjust the width of the navigation column as needed */
  // grid-template-rows: 100vh; /* Set the height of the grid container as needed */
  grid-gap: 10px;
}

.nav {
  background-color: #f1f1f1;
  padding: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
}
.box {
  display: grid;
  grid-template-rows: 1fr 2fr; /* Set the height of each row as desired */
  grid-gap: 10px; /* Adjust the gap between rows as needed */
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media screen and (min-width: 768px) {
  .form-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .form-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card {
  width: 20rem;
  // background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}

.card-header {
  color: #684048;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card-content {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex-basis: 50%; /* Each column takes up 50% of the container width */
  padding: 5px;
  box-sizing: border-box; /* Include padding in the column width */
}
.column1 {
  flex-basis: 28%; /* First column takes up 70% of the container width */
}

.column2 {
  flex-basis: 72%; /* Second column takes up 30% of the container width */
}
// .card1 {
//   background-color: #f4f4f4;
//   padding: 20px;
//   border-radius: 10px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-image {
  width: 12rem; /* Adjust the image size as needed */
  height: 12rem; /* Adjust the image size as needed */
  border-radius: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid columns */
  gap: 10px; /* Gap between grid items */
}

// .grid-item {
//   /* Define styles for the grid items (buttons) */
// }

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column size for smaller screens */
  }
}
.green-button{
  background-color: green;
}








