<!-- <mat-toolbar class="position-absolute" color="primary">
  <mat-toolbar-row class="justify-content-between">
    <button [routerLink]="['/home']" mat-button>Cool King</button>
    <div>
      <button [routerLink]="['/home']" mat-button>Home</button>
      <button [routerLink]="['/dashboard']" mat-button>Dashboard</button>
      <button [routerLink]="['/home']" mat-button>My Booking</button>
    </div>

    <button [routerLink]="['/login']" mat-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar> -->
<div class="d-flex  h-100">
  <div class="container">
    <div class="Searchbox">
      <mat-form-field>
        <input matInput placeholder="Search">
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="Gridbox">
        <div *ngFor="let obj of grid">
          <mat-card class="example-card">
            <img  mat-card-image src="assets\images\{{obj}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>
</div>



