:root {
  --var-col: 1fr;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 10px;
  background-color: var(--color-stroke);
  padding: 1em;
  max-width: 70rem;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.desc {
  display: flex;
  flex-flow: column;
}
