<main style="background-color:#9999B1;">
<div class="d-flex  h-100">
  <div class="container">
    <div class="Searchbox">
      <mat-form-field>
        <input matInput placeholder="Search">
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="Gridbox">
        <div *ngFor="let obj of ServiceCenterDetails">
          <mat-card (click)="goToDetailsPage(obj._id)" class="example-card" style="background-color: #FDE3E4;cursor: pointer;">
            <img  mat-card-image src="{{obj.serviceCenterImageUrl}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <div class="flex-container">
                <div class="flex-item" style="text-align: center;"><strong>{{obj.serviceCenterName}}</strong></div>
                <div class="flex-item" style="padding: 0.8rem;">Place: {{obj.serviceCenterAddress}}</div>
                <div class="flex-item" style="padding: 0.8rem;">Timing: 00:00 to 23.59</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>
</div>
</main>



