<main style="background-color:#939393;">
  <div class="container">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.date | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Timing">
        <mat-header-cell *matHeaderCellDef>Timing</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.date | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteElement(element)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openEditDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <ng-template #editDialogTemplate let-data>
      <h2 mat-dialog-title>Edit</h2>
      <mat-dialog-content>
        <app-registration-form [formData]="data"></app-registration-form>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-button color="primary" (click)="saveChanges()">Save</button>
      </mat-dialog-actions>
    </ng-template>


  </div>
</main>

