<main style="background-color:#939393;">
  <div class="container">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.date | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Timing">
        <mat-header-cell *matHeaderCellDef>Timing</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.date | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteElement(element)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openEditDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <ng-template #editDialogTemplate let-data>
      <div style="text-align: center;"><strong> Enter the product details </strong></div>
      <div class="form-container">
        <mat-form-field>
          <mat-label>Enter the name of the product</mat-label>
          <input matInput placeholder="Product name" >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter the model no of the product</mat-label>
          <input matInput  placeholder="Product model no" >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter the date of purchase </mat-label>
          <input matInput  placeholder="Purchase date" >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter the contact number</mat-label>
          <input matInput  placeholder="Contact Number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter the Problem of the product</mat-label>
          <textarea matInput placeholder="Product Problem"></textarea>
          <mat-hint>Max 200 characters</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Available slots</mat-label>
          <mat-select >
            <mat-option *ngFor="let option of getSlots" [value]="option">{{ option }}</mat-option>
            <!-- <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option> -->
          </mat-select>
        </mat-form-field>
        <button style="margin-left:3rem" mat-raised-button color="primary">update</button>
      </div>

      <!-- <h2 mat-dialog-title>Edit</h2>
      <mat-dialog-content>
        <app-registration-form [formData]="data"></app-registration-form>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-button color="primary" (click)="saveChanges()">Save</button>
      </mat-dialog-actions> -->
    </ng-template>


  </div>
</main>

